<div class="grocery-app">
  <nav><h1>Grocery List Manager</h1></nav>
  <div class="input-output">
    <div class="row d-flex justify-content-center">
      <div class="col-xs-6 col-md-4">
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            placeholder="Enter grocery items"
            id="txtSearch"
            [(ngModel)]="task"
          />
          <div class="input-group-btn">
            <button class="btn btn-primary" type="button" (click)="onClick()">
              <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <ul class="list-group">
      <li *ngFor="let task of tasks" class="list-group-item">
        <span> {{ task.name }} </span>
      </li>
    </ul>
  </div>
</div>
