.grocery-app {
  /* margin: 30px; */
  margin-top: 0px;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}
nav {
  background-color: rgb(213, 151, 219);
  margin-bottom: 30px;
  padding: 20px;
}

ul {
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 50px;
  font-size: large;
}


input {
  
  display: flex;
  justify-content: center;
  font-size: 13pt;
  
}

.glyphicon {
  font-size: 21px;
}
